In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
fileURL = './housing_full_data.csv'
housing_data_all_cols = pd.read_csv(fileURL, header=0)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (15,60) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
housing_data_all_cols.head()

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,ST_NAME_SUF,UNIT_NUM,ZIPCODE,PTYPE,LU,...,U_BTH_STYLE2,U_BTH_STYLE3,U_KITCH_TYPE,U_KITCH_STYLE,U_HEAT_TYP,U_AC,U_FPLACE,U_INT_FIN,U_INT_CND,U_VIEW
0,502550008,502550000.0,502550000,87,BEACON,ST,2-F,2108.0,102,CD,...,M,NaN,O,M,W,N,1.0,N,G,A
1,502550010,502550000.0,502550000,87,BEACON,ST,2-R,2108.0,102,CD,...,NaN,NaN,O,S,W,N,1.0,N,A,A
2,502550012,502550000.0,502550000,87,BEACON,ST,3-F,2108.0,102,CD,...,S,NaN,O,M,W,N,1.0,N,A,G
3,502550014,502550000.0,502550000,87,BEACON,ST,3-R,2108.0,102,CD,...,NaN,NaN,O,N,W,N,1.0,S,A,G
4,502550016,502550000.0,502550000,87,BEACON,ST,4,2108.0,102,CD,...,M,M,O,L,W,C,2.0,N,E,G

ST_NAME
ST_NAME_SUF
ZIPCODE
LU
AV_TOTAL
YR_BUILT
LIVING_AREA

In [40]:
housing_data = housing_data_all_cols[['ST_NAME',
                                     'ST_NAME_SUF',
                                     'ZIPCODE',
                                     'LU',
                                     'AV_TOTAL',
                                     'YR_BUILT',
                                     'LIVING_AREA']]
housing_data['ST_NAME'] = housing_data['ST_NAME'] + " " +housing_data['ST_NAME_SUF'] 
housing_data = housing_data.drop(['ST_NAME_SUF'], axis=1)
housing_data = housing_data.dropna(how='any')
housing_data['ZIPCODE'] = housing_data.ZIPCODE.map(lambda x:int(x))
housing_data['ZIPCODE'] = housing_data.ZIPCODE.map(lambda x:'{}{}'.format(str(0),x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [41]:
housing_data.head()

     ST_NAME ZIPCODE  LU  AV_TOTAL  YR_BUILT  LIVING_AREA
0  BEACON ST   02108  CD    878200    1850.0        789.0
1  BEACON ST   02108  CD    817600    1850.0        752.0
2  BEACON ST   02108  CD    849500    1850.0        792.0
3  BEACON ST   02108  CD    734400    1850.0        720.0
4  BEACON ST   02108  CD   2162300    1850.0       1482.0

In [45]:
zipcode_grpby = pd.DataFrame(housing_data.groupby(['ZIPCODE']).mean()['AV_TOTAL'])

In [48]:
len(zipcode_grpby)

38